include LICENSE
include README.md
recursive-include tests
recursiveinclude *.json 
recursive-include *.py 
recursive-include *.txt 
recursive-include *.yaml
recursive-include templates *
recursive-exclude * __pycache__
recursive-include conf.py
