[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
ipython = "*"
flake8 = "*"
black = "*"
bumpversion = "*"
pipenv-to-requirements = "*"
wheel = "*"
pytest = "*"
codecov = "*"
coveralls = "*"
pytest-cov = "*"

[packages]
boto3 = "==1.4.4"
botocore = "==1.5.62"
click = "==6.6"
docutils = "*"
jmespath = "==0.9.0"
pyaml = "==20.3.1"
python-dateutil = "==2.5.3"
PyYAML = "==5.1"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
